<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.gymexpress.cloudhealth.persistence.dao.HrRecordMapper">

	<insert id="insert" parameterType="HrRecord"
		keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into
		hr_record (
		uuid,
		hubno,
		devno,
		devtype,
		cal,
		userid,
		hr,
		lessonid,
		lessontype
		)
		VALUES (
		#{uuid,jdbcType=VARCHAR},
		#{hubno,jdbcType=INTEGER},
		#{devno,jdbcType=INTEGER},
		#{devtype,jdbcType=INTEGER},
		#{cal,jdbcType=DOUBLE},
		#{userid,jdbcType=VARCHAR},
		#{hr,jdbcType=INTEGER},
		#{lessonid,jdbcType=BIGINT},
		#{lessontype,jdbcType=INTEGER}
		)
	</insert>

	<insert id="insertListBatch" parameterType="java.util.List"  keyColumn="id" keyProperty="id">
		insert into hr_record (
		uuid,
		hubno,
		devno,
		devtype,
		cal,
		userid,
		hr,
		lessonid,
		lessontype,
		create_time,
		caldev,
		steps
		) VALUES
		<foreach collection="list" item="item" index="index" separator="," >
			(
			    #{item.uuid,jdbcType=VARCHAR},
				#{item.hubno,jdbcType=INTEGER},
				#{item.devno,jdbcType=INTEGER},
				#{item.devtype,jdbcType=INTEGER},
				#{item.cal,jdbcType=DOUBLE},
				#{item.userid,jdbcType=VARCHAR},
				#{item.hr,jdbcType=INTEGER},
				#{item.lessonid,jdbcType=BIGINT},
				#{item.lessontype,jdbcType=INTEGER},
				now(),
			    #{item.caldev,jdbcType=DOUBLE},
				#{item.steps,jdbcType=INTEGER}
			)
		</foreach>
	</insert>


</mapper>