<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n
			</pattern>
		</encoder>
	</appender>
	<logger name="com.project">
		<level value="warn" />
	</logger>

	<logger name="org.mybatis.caches.redis">
		<level value="warn" />
	</logger>

	<logger name="org.apache.zookeeper">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.context.support">
		<level value="warn" />
	</logger>

	<logger name="org.springframework.web.servlet">
		<level value="warn" />
	</logger>

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>